# --------- BACK ---------
# Build outputs
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docobj

# VS Code
.vscode/

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Publish output
publish/
**/publish/

# Logs
*.log
logs/

# OS
Thumbs.db